{
  "parser": "babel-eslint",
  "plugins": ["jsdoc"],
  "extends": ["eslint:recommended", "google"],
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "comma-dangle": 0,
    "func-names": 0,
    "global-require": 0,
    "guard-for-in": 0,
    "indent": [2, 2],
    "linebreak-style": 0,
    "key-spacing": 0,
    "max-len": 0,
    "no-console": 0,
    "no-extra-boolean-cast": 0,
    "no-invalid-this": 0,
    "no-prototype-builtins": 0,
    "no-restricted-syntax": 0,
    "no-new": 0,
    "no-plusplus": 0,
    "no-param-reassign": [2, {"props": false}],
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-unreachable": 0,
    "no-use-before-define": 2,
    "no-useless-concat": 0,
    "object-curly-spacing": 0,
    "padded-blocks": 0,
    "prefer-rest-params": 0,
    "radix": 0,
    "space-before-function-paren": 0,
    "wrap-iife": 0,
    "jsdoc/check-alignment": 1,
    "jsdoc/check-examples": 0,
    "jsdoc/check-indentation": 1,
    "jsdoc/check-param-names": 1,
    "jsdoc/check-syntax": 0,
    "jsdoc/check-tag-names": 0,
    "jsdoc/check-types": 0,
    "jsdoc/newline-after-description": 0,
    "jsdoc/no-undefined-types": 0,
    "jsdoc/require-description": 0,
    "jsdoc/require-description-complete-sentence": 0,
    "jsdoc/require-example": 0,
    "jsdoc/require-hyphen-before-param-description": 0,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-name": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns": 0,
    "jsdoc/require-returns-check": 0,
    "jsdoc/require-returns-description": 1,
    "jsdoc/require-returns-type": 1,
    "jsdoc/valid-types": 1
  }
}
