/**
BUTTONS
button styles
**/

$white: #ffffff;
$button-color: #FFFAEE;
$border-color: #161616;
$button-bg-color: #144339;

.button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14.5px 30px;
  font-family: $roboto-mono;
  font-size: 16px;
  font-weight: $font-bold;
  line-height: 140%;
  text-transform: uppercase;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: $button-bg-color;
  border: 2px solid $border-color;
  border-radius: 30px;
  color: $button-color;
  justify-content: center;
  width: 100%;

  &:hover {
    background: $button-color;
    color: $button-bg-color;
  }
}

